<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Libretas Digitales</title>
	<link rel="stylesheet" href="estilo3.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4b7878dea0.js" crossorigin="anonymous"></script>
	<script src=" bootstrap.bundle.min.js/ bootstrap.bundle.js"></script>
</head>
<body>
        <header class="header">
            <div class="container">
                <div class="btn-menu">
                    <a><img src="marca.jpg" alt="Logo" width="40" height="28" class="p"></a>
                </div>
                <div class="logo">
                    <h1>GeVirtual</h1>
                </div>
                <nav class="menu">
                    <a href="iniciopag.html">Inicio</a>
                    <a href="#">Nosotros</a>
                    <a href="#">Blog</a>
                    <a href="#">Contacto</a>
                </nav>
            </div>
        </header>
        <div class="capa"></div>
        <header>
            <br>
            <br>
            <h1 style="font-size: 30px; text-align: center;"><strong>TECNICATURA SUPERIOR EN ADMINISTRACIÓN DE EMPRESAS</strong>
            </h1>
        <br>
        <p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>INFORMACIÓN GENERAL</strong></span></p>
<ul style="list-style-type: circle; padding-left: 20px;">
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Carrera: <strong>“Tecnicatura Superior en Administración de Empresas”</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Resolución: <a href="https://drive.google.com/file/d/1Ajky4fw024GtNUe2S8Sr1B9P_4Yy4dyW/view?usp=sharing" target="_blank" rel="noopener noreferrer">Nº 0800/18 (Descargar)</a> </span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Programa: <a href="https://drive.google.com/file/d/1xFVK_0-AEVMwX9OhrxxmNIPcJ8xYN5sk/view?usp=sharing" target="_blank" rel="noopener noreferrer">(Descargar)</a></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Título que otorga: <strong>Técnico Superior en Administración de Empresas</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Certificación Intermedia: <strong>Analista Financiero</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Familia Profesional: <strong>Administración</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Total de Horas Cátedras: <strong><span lang="ES-AR">2.400</span></strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Total de Horas Reloj: <strong><span lang="ES-AR">1.600</span></strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Modalidad: <strong>Presencial</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Formato de Carrera: <strong>Disciplinar</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Duración: <strong>3 Años</strong></span></li>
</ul>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>PERFIL PROFESIONAL</strong></span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">El Técnico Superior en Administración de Empresas será capaz de operar, de acuerdo a las organizaciones, normas de procedimiento y legales, en las siguientes áreas de competencia:</span></p>
<ul style="list-style-type: square; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Administrar los procesos relacionados a la gestión de la producción.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Administrar los procesos relacionados a la gestión de la comercialización.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Administrar los procesos relacionados a la gestión del personal.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Administrar los procesos relacionados a la gestión financiera.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Desarrollar en forma sinérgica y creativa el liderazgo, la comunicación activa y el trabajo en equipo, en los múltiples ámbitos de desempeño que plantea el mundo laboral.</span></li>
</ul>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 14pt;"><strong>ÁREAS SOCIO OCUPACIONALES </strong></span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">El Técnico Superior en Administración de Empresas estará capacitado para desempeñarse en los mandos medios de empresas, realizando y/o colaborando en las tareas administrativas o bien en el desarrollo y/o gestión de emprendimientos independientes, utilizando técnicas que optimicen los procesos específicos de su ámbito de acción y beneficien a la organización como unidad global.</span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">En este sentido, estará formado para la utilización de modelos conceptuales e instrumentos técnicos que apunten a una gestión eficiente en empresas de cualquier índole y tamaño y de todos los sectores productivos.</span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>PLAN DE ESTUDIOS</strong></span></p>
<table border="0" cellspacing="10">
<tbody>
<tr>
<td width="440">
<p><span style="font-family: tahoma, arial, helvetica, sans-serif;"><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;"><strong>PRIMER AÑO</strong></span></span></p>
</td>
</tr>
<tr>
<td>
<ul style="list-style-type: disc; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Informática y Tecnología I.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Inglés.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Administración.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Contabilidad.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Microeconomía.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Matemática.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Estadística.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Comunicación, Comprensión y Producción de Textos.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Oratoria.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Práctica Profesionalizante I.</span></li>
</ul>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"><strong>SEGUNDO AÑO</strong></span></p>
</td>
</tr>
<tr>
<td>
<ul style="list-style-type: disc; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Informática y Tecnología II.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Inglés Técnico.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Macroeconomía.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Comercialización.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Estructura de Costos.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Desarrollo Territorial.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Problemática Sociocultural y del Trabajo.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Cálculo Financiero.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Gestión Financiera.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Introducción al Derecho.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Derecho de la Empresa.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Práctica   Profesionalizante II.</span></li>
</ul>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"><strong>TERCER AÑO</strong></span></p>
</td>
</tr>
<tr>
<td>
<ul style="list-style-type: disc; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Formulación y Evaluación de Proyectos.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Producto y Servicio.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Logística Integral.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Habilidades Interpersonales.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Creatividad e Innovación.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Ética Profesional.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Psicología Organizacional.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Control de Gestión.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Práctica Impositiva y de Liquidación de Sueldos.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Derecho Laboral.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Administración de Personal.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Gestión de la Calidad.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Práctica Profesionalizante III.</span></li>
</ul>
</td>
</tr>
</tbody>
</table> 	 
</article>