<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Libretas Digitales</title>
	<link rel="stylesheet" href="estilo3.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4b7878dea0.js" crossorigin="anonymous"></script>
	<script src=" bootstrap.bundle.min.js/ bootstrap.bundle.js"></script>
</head>
<body>
        <header class="header">
            <div class="container">
                <div class="btn-menu">
                    <a><img src="marca.jpg" alt="Logo" width="40" height="28" class="p"></a>
                </div>
                <div class="logo">
                    <h1>GeVirtual</h1>
                </div>
                <nav class="menu">
                    <a href="iniciopag.html">Inicio</a>
                    <a href="#">Nosotros</a>
                    <a href="#">Blog</a>
                    <a href="#">Contacto</a>
                </nav>
            </div>
        </header>
        <div class="capa"></div>
        <header>
            <br>
            <br>
            <h1 style="font-size: 30px; text-align: center;"><strong>TECNICATURA SUPERIOR EN COMPUTACIÓN Y REDES</strong>
            </h1>
        <br>
        <p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>INFORMACIÓN GENERAL</strong></span></p>
<ul style="list-style-type: circle; padding-left: 20px;">
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Carrera: <strong>“Tecnicatura Superior en Computación y Redes”</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Resolución: <a href="https://drive.google.com/file/d/1GiOSiCwssVcsZIfwRrcRfelcGXbFFCGc/view?usp=sharing" target="_blank" rel="noopener noreferrer">Nº 0490/19 (Descargar)</a> </span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Programa: <a href="https://drive.google.com/file/d/1eQ72WYJxLBUCLAwbW0S_WXjdCwG-cx6S/view?usp=sharing" target="_blank" rel="noopener noreferrer">(Descargar)</a></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Título que otorga: <strong>“Técnico Superior en Computación y Redes”</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Certificación Intermedia:<strong>Auxiliar en Soporte de Infraestructura Informática.</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Familia Profesional: <strong>Informática</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Total de Horas Cátedras: <strong><span lang="ES-AR">2.790</span></strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Total de Horas Reloj: <strong><span lang="ES-AR">1.860</span></strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Modalidad: <strong>Presencial</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Formato de Carrera: <strong>Disciplinar</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Duración: <strong>3 Años</strong></span></li>
</ul>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif;">  </span></p>
<p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>PERFIL PROFESIONAL</strong></span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">El Técnico Superior en Computación y Redes estará capacitado para implementar, mantener, actualizar, analizar y resolver problemas derivados de la operación de productos de tecnología de la información que cumplen funciones de sistema operativo, administración de almacenamiento, comunicaciones y redes, seguridad, bases de datos, y otros subsistemas. Además, será capaz de desempeñarse en las siguientes áreas de competencia:</span></p>
<ul style="list-style-type: square; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Administrar servidores, software de base, comunicaciones y demás subsistemas, maximizando el aprovechamiento de los recursos y anticipando posibles problemas.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Diseñar, configurar, montar y administrar redes de comunicación de datos, asegurando la accesibilidad de los servicios y optimizando los recursos.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Manejar incidentes que afecten a la Infraestructura de TI, diagnosticando las causas que los originan y resolviendo o coordinando las acciones para su solución.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Instalar o reemplazar componentes de la Infraestructura de TI o adaptarla a nuevas condiciones de servicios externos minimizando riesgos para la seguridad y continuidad del servicio.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Evaluar y asesorar sobre contingencias y riesgos que puedan afectar a la Infraestructura de TI.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Asesorar en la compra de nueva infraestructura.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Desarrollar en forma sinérgica y creativa el liderazgo, la comunicación activa y el trabajo en equipo, en los múltiples ámbitos de desempeño que plantea el mundo laboral.</span></li>
</ul>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>ÁREAS SOCIO OCUPACIONALES</strong></span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">El Técnico Superior en Computación y Redes cuyo puesto de trabajo suele denominarse Administrador de Red o Administrador de Sistemas, está capacitado para implementar, mantener, actualizar, analizar y resolver problemas derivados de la operación de productos de tecnología de la información que cumplen funciones de sistema operativo, administración de almacenamiento, comunicaciones y redes, seguridad, bases de datos y otros subsistemas.</span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Para ello, coordinará o complementará su trabajo con especialistas de la misma organización o externos desarrollando las siguientes actividades:</span></p>
<ul style="list-style-type: square; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Administrar los recursos de infraestructura de Tecnología de la Información y a atender y resolver incidentes a fin de minimizar la posibilidad de interrupciones del servicio que brindan las aplicaciones informáticas a las organizaciones.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Desempeñarse en el ámbito privado atendiendo clientes particularmente y adecuando la tecnología y procedimientos del ámbito empresario a la idiosincrasia doméstica.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Resolver las decisiones de compra o actualización de plantas informáticas, brindando información sobre nuevas tecnologías o implementaciones adecuadas a la misma.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Actualizar versiones, instalar componentes o migrar sistemas.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Realizar mantenimientos e instalaciones en centros de cómputos de escuelas y universidades en forma certera, así como también dar soporte a docentes e instituciones en el desarrollo de sus actividades relacionadas con la informática.</span></li>
</ul>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>PLAN DE ESTUDIOS</strong></span></p>
<table class="centra-tabla" style="width: 449px; height: 716px;" border="0" cellspacing="10">
<tbody>
<tr>
<td width="440"><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> <strong>PRIMER AÑO</strong></span></td>
</tr>
<tr>
<td>
<ul style="list-style-type: disc; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Inglés Técnico I</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Matemática I</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Lógica Computacional</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Arquitectura de Computadoras</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Comprensión y Producción de Textos</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Problemática Sociocultural y del Trabajo</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Sistemas Operativos I</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Fundamentos de Electrónica</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Electrónica Aplicada</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Tecnología de la Información</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Práctica Profesionalizante I</span></li>
</ul>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"><strong>SEGUNDO AÑO</strong></span></p>
</td>
</tr>
<tr>
<td>
<ul style="list-style-type: disc; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Inglés Técnico II</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Soporte de Infraestructura I</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Sistemas Administrativos Aplicados</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Sistemas Operativos II</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Comunicaciones y Redes</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Redes Aplicadas I</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Matemática II</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Ética Profesional</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Fundamentos de Programación</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Práctica   Profesionalizante II</span></li>
</ul>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"><strong>TERCER AÑO</strong></span></p>
</td>
</tr>
<tr>
<td>
<ul style="list-style-type: disc; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Gestión de Bases de Datos</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Programación de Scripts y Embebidos</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Legislación Informática</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Gestión de Emprendimientos</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Seguridad en Redes</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Redes Aplicadas II</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Estadística Aplicada</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Soporte de Infraestructura II</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Sistemas de Telefonía y Video Seguridad</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Práctica Profesionalizante III</span></li>
</ul>
</td>
</tr>
</tbody>
</table>