<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Libretas Digitales</title>
	<link rel="stylesheet" href="estilo3.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4b7878dea0.js" crossorigin="anonymous"></script>
	<script src=" bootstrap.bundle.min.js/ bootstrap.bundle.js"></script>
</head>
<body>
        <header class="header">
            <div class="container">
                <div class="btn-menu">
                    <a><img src="marca.jpg" alt="Logo" width="40" height="28" class="p"></a>
                </div>
                <div class="logo">
                    <h1>GeVirtual</h1>
                </div>
                <nav class="menu">
                    <a href="/iniciopag">Inicio</a>
                    <a href="#">Nosotros</a>
                    <a href="#">Blog</a>
                    <a href="#">Contacto</a>
                </nav>
            </div>
        </header>
        <div class="capa"></div>
        <header>
            <br>
            <br>
            <h1 style="font-size: 30px; text-align: center;"><strong>TECNICATURA SUPERIOR EN HIGIENE Y SEGURIDAD LABORAL</strong>
            </h1>
        <br>    
        </header>
        <p><span style="font-size: 14pt;"> <span style="font-family: tahoma, arial, helvetica, sans-serif;"><strong>INFORMACIÓN GENERAL</strong></span></span></p>
<ul style="list-style-type: circle; padding-left: 20px;">
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Carrera: <strong>“Tecnicatura Superior en Higiene y Seguridad Laboral”</strong></span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Resolución: Nº 0695/12<a href="https://docs.google.com/file/d/1YLsTHlCDIgHsNFZRtI-ppgIdowFXkdv1pfwa0bWGCHnJR0ZOYnLyZ_AGRm5z/edit" target="_blank" rel="noopener noreferrer"> (Descargar)</a> - Resolución Anterior: N° 0456/04<a href="https://drive.google.com/file/d/0B_jlBtk4vmloRGhfWmdHX0dta0k/view?usp=drive_open" target="_blank" rel="noopener noreferrer"> (Descargar)</a></span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Programa:  N° 0695/12<a href="https://drive.google.com/file/d/1ktTtCguPJzJ7ODCcB5V5pv4mFzD4xMDH/view?usp=sharing" target="_blank" rel="noopener noreferrer"> (Descargar)</a>  - Programa Anterior:  N° 0456/04 <a href="https://drive.google.com/file/d/1rayY82y2Pi6UwO7Z8NnxpE8gK1rzkZiU/view?usp=share_link" target="_blank" rel="noopener noreferrer">(Descargar)</a></span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Título que otorga: <strong>Técnico Superior en Higiene y Seguridad Laboral</strong></span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Familia Profesional:</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Total de Horas Cátedras: <strong><span lang="ES-AR">2.790</span></strong></span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Total de Horas Reloj: <strong><span lang="ES-AR">1.860</span></strong></span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Modalidad: <strong>Presencial</strong></span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Formato de Carrera: <strong>Disciplinar</strong></span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Duración: <strong>3 Años</strong></span></li>
</ul>
<p><br /><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>PERFIL PROFESIONAL</strong></span></p>
<p><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">El título de <strong>Técnico Superior en Higiene y Seguridad</strong> <strong>Laboral</strong> habilita al profesional para: Estudiar, Analizar, Evaluar, Organizar, Planificar, Dirigir e Inspeccionar en ambientes laborales todo lo inherente a Seguridad e Higiene:</span></p>
<ul style="text-align: justify; list-style-type: square; padding-left: 20px;">
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Elaborar diagnósticos relacionados con su especialidad en empresas e instituciones para diagramar estrategias de políticas laborales que tiendan a disminuir las pérdidas en este campo.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Asesorar al personal de empresas e instituciones en lo atinente a la problemática vinculada a su especialidad a efectos de evitar y/o resolver situaciones de riesgo en el trabajo.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Efectuar estudios y propuestas en relación con accidentes, enfermedades del trabajo y otras situaciones que estén vinculadas a la gestión de la especialidad.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Participar en equipos interdisciplinarios que favorezcan su desenvolvimiento profesional.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Desarrollar actividades educativas tendientes a la prevención de los accidentes y riesgos en el trabajo.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Evaluar el impacto de las acciones planificadas.Administrar los principios y técnicas de la Seguridad e Higiene Industrial y Laboral,   cualquiera sea su ámbito de aplicación.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Establecer objetivos y elaborar programas de higiene industrialy seguridad laboral, legajos técnicos, normas de prevención y reglamentos para el desarrollo del trabajo sin riesgos para la salud del trabajador.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Controlar el cumplimiento de objetivos, programas, normas y reglamentos establecidos en el punto anterior.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Participar en la selección, aprobación, modificación y control de sistemas, elementos y equipos de transporte, de producción, de almacenamiento, de transformación, distribución y uso de la energía y todo aquello relacionado con estudios y proyectos sobre instalaciones y ampliaciones en el área de su competencia.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Participar en el diseño, prueba, selección, aprobación, normalización y aplicación de elementos y equipos para protección personal y ambiental, de defensa contra incendios y de seguridad e higiene en general.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Estudiar y revisar métodos y normas de trabajo.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Intervenir en el análisis, evaluación y control de los riesgos de productos terminados, subproductos, materiales de rezago, afluentes industriales y su impacto con el medio ambiente.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Actuar como perito técnico, asesor o árbitro en la especialidad de higiene y seguridad en el trabajo, en litigios judiciales o extrajudiciales.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Llevar estadísticas relacionadas con sus tareas.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Realizar y gestionar programas de: reducción de siniestralidad, prevención de accidentes y enfermedades profesionales.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Integrar equipos de trabajo para la revisión y/o aprobación de diseños, esquemas o proyectos destinados a establecer, ampliar o modificar lugares de trabajo.</span></li>
</ul>
<p><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;"> </span></p>
<p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>COMPETENCIAS:</strong></span></p>
<p><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">El Técnico Superior en Higiene y Seguridad Laboral estará capacitado para acceder a empresas e instituciones de distintas dimensiones y actividades, para actuar en la prevención de riesgos, accidentes y enfermedades profesionales, promoviendo y obteniendo una sensible mejoría en la calidad del trabajo.</span></p>
<p><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Desempeñarse con habilidad en situaciones de comunicación oral y escrita interpretando y produciendo en forma correcta, mensajes propios del ámbito laboral, potenciados por el empleo del idioma inglés, el lenguaje estadístico y las herramientas informáticas.</span></p>
<ul style="list-style-type: square; padding-left: 20px;">
<li style="text-align: justify;"><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Resignificar los marcos conceptuales construidos durante su formación para responder a los contextos reales de desempeño laboral.</span></li>
<li style="text-align: justify;"><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Desempeñar tareas asignadas o asumidas honestamente, con eficiencia y responsabilidad.</span></li>
</ul>
<p><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;"> </span></p>
<p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>PLAN DE ESTUDIOS</strong></span></p>
<table border="0" cellspacing="10">
<tbody>
<tr>
<td width="440"><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> <strong>PRIMER AÑO</strong></span></td>
</tr>
<tr>
<td>
<ul style="padding-left: 20px; list-style-type: disc;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">COMUNICACIÓN, COMPRENSIÓN Y PRODUCCIÓN DE TEXTOS.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">TEORÍA DE LAS ORGANIZACIONES.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">PSICOLOGÍA LABORAL</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">INFORMÁTICA APLICADA.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">PROBLEMÁTICA SOCIOCULTURAL Y DEL TRABAJO.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">INGLÉS.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">EQUIPOS Y ELEMENTOS DE PROTECCIÓN PERSONAL.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">HIGIENE LABORAL I.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">SEGURIDAD LABORAL I.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">PRÁCTICA PROFESIONALIZANTE I.</span></li>
</ul>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;"> </span></p>
<p><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>SEGUNDO AÑO</strong></span></p>
</td>
</tr>
<tr>
<td>
<ul style="padding-left: 20px; list-style-type: disc;">
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">INTERPRETACIÓN Y REPRESENTACIÓN DE PLANOS.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">DISEÑO TÉCNICO ASISTIDO.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">ESTADÍSTICA</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">INGLÉS TÉCNICO</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">LEGISLACIÓN APLICADA A LA HIGIENE Y SEGURIDAD LABORAL.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">EDUCACIÓN PARA LA PREVENCIÓN.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">SALUD OCUPACIONAL.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">HIGIENE LABORAL II.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">SEGURIDAD LABORAL II.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">PRÁCTICA PROFESIONALIZANTE II.</span></li>
</ul>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;"> </span></p>
<p><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>TERCER AÑO</strong></span></p>
</td>
</tr>
<tr>
<td>
<ul style="padding-left: 20px; list-style-type: disc;">
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">DERECHO LABORAL.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">ÉTICA PROFESIONAL.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">ERGONOMÍA.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">TOXICOLOGÍA INDUSTRIAL.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">SEGURIDAD CONTRA INCENDIOS.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">GESTIÓN DE CALIDAD GESTIÓN DE EMPRENDIMIENTOS.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">HIGIENE Y SEGURIDAD EN LA MINERÍA.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">HIGIENE Y SEGURIDAD EN EL PETROLEO.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">HIGIENE Y SEGURIDAD EN EL AGRO.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">HIGIENE Y SEGURIDAD EN LA CONSTRUCCIÓN.</span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">TRATAMIENTO DE RESIDUOS, EFLUENTES Y EMISIONES.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">PRÁCTICA PROFESIONALIZANTE III.</span></li>
</ul>
</td>
</tr>
</tbody>
</table> 	 
</article>