<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Libretas Digitales</title>
	<link rel="stylesheet" href="estilo3.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4b7878dea0.js" crossorigin="anonymous"></script>
	<script src=" bootstrap.bundle.min.js/ bootstrap.bundle.js"></script>
</head>
<body>
        <header class="header">
            <div class="container">
                <div class="btn-menu">
                    <a><img src="marca.jpg" alt="Logo" width="40" height="28" class="p"></a>
                </div>
                <div class="logo">
                    <h1>GeVirtual</h1>
                </div>
                <nav class="menu">
                    <a href="/iniciopag">Inicio</a>
                    <a href="#">Nosotros</a>
                    <a href="#">Blog</a>
                    <a href="#">Contacto</a>
                </nav>
            </div>
        </header>
        <div class="capa"></div>
        <header>
            <br>
            <br>
            <h1 style="font-size: 30px; text-align: center;"><strong>TECNICATURA SUPERIOR EN TECNOLOGIA BIOMEDICA</strong>
            </h1>
        <br>    
        </header>
        <p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>INFORMACIÓN GENERAL</strong></span></p>
<ul style="list-style-type: circle; padding-left: 20px;">
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Carrera: <strong>“Tecnicatura Superior en Tecnología Biomédica”</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Resolución: <a href="https://drive.google.com/file/d/1mXw6yZOt9xx2QsR-ktmRCDVZuDBeO7MC/view?usp=sharing">Nº 1994/19 (Descargar)</a></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Título que otorga: <strong>Técnico Superior en Tecnología Biomédica</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Familia Profesional: <strong>Salud – Electrónica</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Total de Horas Cátedras: <strong><span lang="ES-AR">2.955</span></strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Total de Horas Reloj: <strong><span lang="ES-AR">1.970</span></strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Modalidad: <strong>Presencial</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Formato de Carrera: <strong>Disciplinar</strong></span></li>
<li><span style="font-size: 12pt; font-family: tahoma, arial, helvetica, sans-serif;">Duración: <strong>3 Años</strong></span></li>
</ul>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>PERFIL PROFESIONAL</strong></span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">El  Técnico  Superior  en  Tecnología Biomédica estará  capacitado  para demostrar conocimientos, habilidades, destrezas, valores y actitudes en situaciones reales de trabajo, conforme a criterios de profesionalidad propios de su área y responsabilidad social. Además, será capaz de desempeñarse en las siguientes áreas de competencia:</span></p>
<ul style="text-align: justify; list-style-type: square; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Organizar y gestionar su ámbito de trabajo.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Gestionar el equipamiento biomédico.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Instalar equipamiento biomédico.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Operar equipos de propósito general destinados al mantenimiento de equipamiento biomédico.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Realizar el mantenimiento predictivo, preventivo y correctivo del equipamiento biomédico.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Comunicar información técnica relativa al equipamiento biomédico.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Generar emprendimientos productivos.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Desarrollar en forma sinérgica y creativa el liderazgo, la comunicación activa y el trabajo en equipo, en los múltiples ámbitos de desempeño que plantea el mundo laboral.</span></li>
</ul>
<p style="text-align: justify;"><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">  </span></p>
<p style="text-align: justify;"><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>ÁREAS SOCIO OCUPACIONALES</strong></span></p>
<p style="text-align: justify;"><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Este técnico superior está formado para desempeñarse en los ámbitos de atención de la salud realizando tareas para el mantenimiento y operación de equipos electromédicos, actuando en relación de dependencia o en forma independiente, en empresas de fabricación, distribución, venta e instalación de equipos de electromedicina, y en aquellos ámbitos en los que dicho equipamiento deban ser montados/instalados, operados o mantenidos. Asimismo es competente para prestar servicios de asesoramiento y/o comercialización y gestión de equipos electromédicos.</span></p>
<p style="text-align: justify;"><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Para ello, será capaz de desempeñarse en las siguientes áreas de competencia:</span></p>
<ul style="text-align: justify; list-style-type: square; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">interpretar las definiciones estratégicas surgidas de los estamentos técnicos y jerárquicos correspondientes.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">gestionar sus actividades específicas, realizar y controlar la totalidad de las tareas requeridas hasta su efectiva concreción</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">tener en cuenta los criterios de seguridad, impacto ambiental, relaciones humanas, calidad, productividad y costos</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">desarrollar en forma sinérgica y creativa el liderazgo, la comunicación activa y el trabajo en equipo, en los múltiples ámbitos de desempeño que plantea el mundo laboral.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Participar en actividades de montaje, instalación y mantenimiento de equipos e instalaciones médico hospitalarias.</span></li>
</ul>
<p style="text-align: justify;"><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-size: 14pt; font-family: tahoma, arial, helvetica, sans-serif;"><strong>PLAN DE ESTUDIOS</strong></span></p>
<table border="0" cellspacing="10">
<tbody>
<tr>
<td width="440">
<p><span style="font-family: tahoma, arial, helvetica, sans-serif;"><span style="font-size: 12pt;"> </span><span style="font-size: 12pt;"> <strong>PRIMER AÑO</strong></span></span></p>
</td>
</tr>
<tr>
<td>
<ul style="list-style-type: disc; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Comprensión y Producción de Textos</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Inglés Técnico I</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Matemática Aplicada</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Física Aplicada</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Electrónica Analógica y Digital</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Tecnología de Materiales</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Fundamentos de Fisiología y Biofísica</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Práctica Profesionalizante I</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Electrotecnia</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Problemática Sociocultural y del Trabajo</span></li>
</ul>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"><strong>SEGUNDO AÑO</strong></span></p>
</td>
</tr>
<tr>
<td>
<div>
<ul style="list-style-type: disc; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Control y Automatismo</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Ética Profesional</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Instalaciones y Máquinas Eléctricas</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Equipamiento Biomédico</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Formulación y Evaluación de Proyectos</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Práctica Profesionalizante II</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Inglés Técnico II</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Informática Aplicada</span></li>
</ul>
</div>
</td>
</tr>
<tr>
<td>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"> </span></p>
<p><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;"><strong>TERCER AÑO</strong></span></p>
</td>
</tr>
<tr>
<td>
<div>
<ul style="list-style-type: disc; padding-left: 20px;">
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Legislación</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Sistemas Embebidos</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Instrumentación Clínica</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Equipos de Diagnóstico por Imagen</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Proyecto Final</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Práctica Profesionalizante III</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Gestión y Emprendimientos</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12pt;">Seguridad e Higiene Hospitalaria</span></li>
</ul>
</div>
</td>
</tr>
</tbody>
</table> 	 
</article>